h2 Master
#master

h2 Workers
#workers

script#master-template(type='text/template')
  .stats
    span.stat.os
      strong os
      em {master.os.type} / {master.os.release}
    span.stat.cpus
      strong cpus
      em {master.os.cpus}
    span.stat.restarts
      strong restarts
      em {master.stats.restarts}
    span.stat.workers
      strong workers
      em spawned {master.stats.workersSpawned}, 
      em deaths {master.stats.workersKilled}

script#worker-template(type='text/template')
  .worker
    .summary
      span.id {worker.id}
      .stats
        span.stat.connections.active 
          strong connections
          em {worker.stats.connectionsActive}
        span.stat.connections.total 
          strong total
          em {worker.stats.connectionsTotal}
        span.stat.requests.total
          strong requests
          em {worker.stats.requestsTotal}
    .body
      .chart

script#request-template(type='text/template')
  span.method {request.method}
  span.url {request.url}