
@import 'vendor'
@import 'buttons'
@import 'positions'

// colors

blue = #19B2E0
mid = #a7a7a7
light = #e5e5e5
dark = #626262

// mixins

border()
  border 1px solid light

// styles

html
  border-top 5px solid light

body
  position relative
  margin 0
  padding 50px
  font 12px/1.4 'Helvetica Neue', Helvetica, Arial Geneva, sans-serif
  border-top 1px solid darken(light, 10%)
  color mid

h1, h2, h3
  margin 10px 0
  color darken(dark, 30%)

h2
  padding-bottom 10px
  border-bottom 1px solid light

button
a.button
input[type='submit']
  cloudapp-button()

.worker
  border()
  position relative
  float left
  margin 5px
  padding 30px
  width 300px
  border-radius 3px
  
  .body
    margin-top 15px

  .summary
    .id
      border()
      background white
      border-top none
      border-left none
      absolute top 0 left 0
      padding 5px 10px
      border-radius 0 0 5px 0
      box-shadow 1px 1px 3px lighten(light, 5%)

    .stats
      absolute top 0 right 0

    .stat.connections
      color #00D0FA

#master
  .stat
    display block
    width 100%
    padding 2px 0

.stats
  font-size 12px
  font-family arial
  padding-top 5px
  padding-right 10px
  strong
    font-weight normal
    padding 0 5px
    color darken(light, 10%)
  em
    font-style normal

.notification
  background white
  padding 10px 20px
  fixed top 20px right 15px
  transition opacity 1s
  border-radius 5px
  border()
  opacity 0
  &.show
    opacity 1

.overlay
  absolute top 0 left 0
  background rgba(black, 0.50)
  width 100%
  height 100%
  font-size 18px
  text-align center
  .message
    absolute top 45% left 0
    width 100%
    color white