!!! 5
html
  head
    title Cluster Live
    link(rel='stylesheet', href='main.css')
  body
    h1 Cluster Live
    p
      a(href='http://github.com/visionmedia/cluster-live') cluster-live
      |   is a administration and reporting plugin for the
      | nodejs server manager named cluster. With a single line of code
      | you will have everything you see below available in real-time.
    #screenshot
      img(src='http://cl.ly/5zjY/Screenshot.png')